body {
  background-image: url("https://th.bing.com/th/id/R.d7a25702630e23eff37ba21b13047ead?rik=ccb9xiC9JCpptQ&pid=ImgRaw&r=0");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: blue;
}

* {
  text-align: center;
  font-family: "Lato", sans-serif;
}

h1:hover {
  color: navy;
}

h2:hover {
  color: navy;
}

p:hover {
  color: navy;
}
