body {
  background-image: url("https://th.bing.com/th/id/R.d7a25702630e23eff37ba21b13047ead?rik=ccb9xiC9JCpptQ&pid=ImgRaw&r=0")
}

h1 { 
  color: blue;
}

* {
  text-align: center;
  font-family: "Lato", sans-serif;
}

h1:hover {
  color: navy;
}

h2: hover {
  color: navy;
}

p: hover {
  color: navy;
}
