body {
  background-image: url("file:///C:/Users/build/Downloads/techbackground-transformed.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: blue;
}

* {
  text-align: center;
  font-family: "Lato", sans-serif;
}

h1:hover {
  color: navy;
}

h2:hover {
  color: navy;
}

p:hover {
  color: navy;
}
